.ticket-title {
	font-weight:bold;
	font-size:20px;
	margin-left:10px;
}
.answered {
	font-size:10px;
	color:#ffffff;
	background-color:#00ff11;
	margin:0px 5px 5px 10px;
}

#answered {
	font-size:10px;
	color:#ffffff;
	background-color:#00ff11;
	margin:0px 5px 5px 10px;
}